/* Header */

header {
    position: fixed;
    width: 100%;
    z-index: 9999;
}

/* Notification Bar */

.notification__container {
    background-color: var(--color-txt-black);
    font-family: var(--inter);
    display: flex;
    padding: 0.5rem 0;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
}

.notification__container p {
    color: #FFF;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.375rem;
}

.notification__shop {
    gap: 0.25rem;
    color: var(--color-yellow);
    font-feature-settings: "clig" off, "liga" off;
    font-family: var(--inter);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    border-bottom: 1px solid var(--color-yellow);
}

.notification__shop img {
    width: 18px;
    height: 18px;
}

.notification__shop a {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Nav Bar */

nav {
    width: 100%;
    background-color: transparent;
    padding: 1.125rem 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__logo {
    color: black;
    text-align: center;
    font-family: var(--poopins);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
}

.navbar__links {
    display: flex;
    gap: 2.5rem;
    align-items: center;
    margin: 0 2rem;
}

.navbar__links li {
    color: var(--color-txt-black);
    font-family: var(--space-grotesk);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
}

.navbar__icons {
    display: flex;
    gap: 1rem;
}

.navbar__icons img {
    width: 24px;
    height: 24px;
}

.navbar__icons-search, .navbar__icons-user, .navbar__icons-bag {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.navbar__icons-bag {
    gap: 0.313rem;
}

.navbar__bag-number {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--inter);
    background-color: var(--color-txt-black);
    color: var(--color-yellow);
    border-radius: 1.25rem;
    width: 20px;
    height: 20px;
    padding: 0.375rem;
}

.navbar__bag-number span {
    font-size: 0.75rem;
    position: relative;
    top: -1px;
}

/* Banner Section */

.banner__container {
    background-image: url(./img/banner.jpg);
    height: 100vh;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20rem;
}

.banner__container-content {
    max-width: 538px;
    width: 538px;
}

.banner__container-content h2 {
    font-family: var(--poopins);
    color: var(--color-black900);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 5.25rem;
    letter-spacing: -3px;
}

.banner__container-content span {
    color: var(--color-blue);
}

.banner__container-content p {
    font-family: var(--inter);
    color: var(--color-black900);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    margin: 0.5rem 0 1.75rem 0;
}

.banner__container-content a {
    display: flex;
    padding: 0.75rem 3.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 8px;
    background-color: var(--color-black900);
    width: fit-content;
    color: white;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: var(--inter);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: -0.4px;
    cursor: pointer;
    transition: 0.8s;
}

.banner__container-content a:hover {
    transform: scale(1.1) ;
    -webkit-transform: scale(1.1) ;
    -moz-transform: scale(1.1) ;
}

/* Brands Section */

.brands__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    gap: 1.5rem;
    flex-wrap: wrap;
}

/* New Arrivals Section */

.new-arrivals__container {
    margin: 3rem 0 6rem 10rem;
}

.new-arrivals__header {
    display: flex;
    margin-bottom: 3rem;
    max-width: 1120px;
}

.left-arrow {
    transform: rotateY(180deg);
}

.new-arrivals__header h2 {
    color: black;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: var(--poopins);
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.75rem;
    letter-spacing: -0.4px;
}

.new-arrivals__gallery {
    display: flex;
    gap: 2rem;
    width: 100%;
    overflow-x: hidden;
}

.new-arrivals__gallery-card {
    width: 262px;
    height: 459px;
}

.new-arrivals__gallery-card-img {
    width: 262px;
    height: 349px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.75rem;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(243, 245, 247, 1);
}

.new-arrivals__gallery-card-img-header {
    display: flex;
    margin:  0.625rem 1rem;
    justify-content: space-between;
}

.new-arrivals__header-arrows {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.new-arrivals__header-arrows img {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.new-arrivals__gallery-card-img-header span {
    border-radius: 4px;
    padding: 0.25rem 0.875rem;
    height: fit-content;
    color: var(--color-black900);
    font-family: var(--inter);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1rem;
    text-transform: uppercase;
    background: white;
}

.new-arrivals__gallery-card-img-header svg {
    border-radius: 32px;
    background: white;
    box-shadow: 0px 8px 16px -8px rgba(15, 15, 15, 0.12);
    display: flex;
    width: 32px;
    height: 32px;
    padding: 0.375rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    transition: 0.8s;
    cursor: pointer;
    display: none;
}

.new-arrivals__gallery-card-img-header svg:hover {
    transform: scale(1.1) ;
    -webkit-transform: scale(1.1) ;
    -moz-transform: scale(1.1) ;
}

.new-arrivals__gallery-card-img button {
    width: 230px;
    height: 46px;
    padding: 0.5rem 1.5rem;
    gap: 0.25rem;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--color-txt-black);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.04);
    color: white;
    border: none;
    transition: 0.8s;
    margin-top: auto;
    font-family: var(--inter);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75rem;
    letter-spacing: -0.4px;
    display: none;
}

.new-arrivals__gallery-card-img button:hover {
    transform: scale(1.05) ;
    -webkit-transform: scale(1.05) ;
    -moz-transform: scale(1.05) ;
}

.new-arrivals__gallery-card-name {
    color: var(--color-black900);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: var(--inter);
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.625rem;
}

.new-arrivals__gallery-card-price {
    color: var(--color-black900);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: var(--inter);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.375rem;
}

/* Shop Collection */

.shop-colleticon__container {
    padding: 3rem 10rem;
}

.shop-collection__header {
    margin-bottom: 3rem;
}

.shop-collection__header h2 {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: var(--poopins);
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.75rem;
    letter-spacing: -0.4px;
}

.shop-collection__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.shop-collection__content-product {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: rgba(243, 245, 247, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    padding: 0 0 3rem 3rem;
    justify-content: flex-end;
}

.shop-collection__content-product-left {
    width: 100%;
    height: 664px;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.shop-collection__content-product-right {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.shop-collection__content h3 {
    color: var(--color-black900);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: var(--poopins);
    font-size: 2.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.375rem;
    letter-spacing: -0.6px;
}

.shop-collection__content p {
    display: flex;
    border-bottom: 1px solid black;
    width: fit-content;
    color: var(--color-black900);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: var(--inter);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75rem;
    letter-spacing: -0.4px;
}

.shop-collection-link {
    display: flex;
    width: fit-content;
}

/* Best Sellers Section */

#best-sellers {
    margin: 0 10rem 3rem 10rem;
}

#best-sellers h2 {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: var(--poopins);
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.75rem;
    letter-spacing: -0.4px;
    margin-bottom: 3rem;
}

.best-sellers__container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(262px,1fr));
    gap: 2rem;
}

.best-seller__container-card {
    width: 100%;
}

.best-sellers__container-card-product {
    height: 349px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0.75rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(243, 245, 247, 1);
    cursor: pointer;
}

.best-sellers__container-card-product-header {
    display: flex;
    justify-content: space-between;
}

.best-sellers__container-card-product-header span {
    padding: 0.25rem 0.875rem;
    background-color: white;
    color: var(--color-black900);
    font-family: var(--inter);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1rem; 
    text-transform: uppercase;
    border-radius: 0.25rem;
    height: fit-content;
}

.best-sellers__container-card-product-header img {
    padding: 0.375rem;
    background-color: white;
    border-radius: 2rem;
    transition: 0.8s;
    cursor: pointer;
    display: none;
}

.best-sellers__container-card-product-header img:hover {
    transform: scale(1.1) ;
    -webkit-transform: scale(1.1) ;
    -moz-transform: scale(1.1);
}

.best-sellers__container-card-product button {
    width: 100%;
    padding: 0.5rem 1.5rem;
    background: black;
    font-family: var(--inter);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75rem;
    letter-spacing: -0.4px;
    color: white;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.8s;
    display: none;
}

.best-sellers__container-card-product button:hover {
    transform: scale(1.1) ;
    -webkit-transform: scale(1.1) ;
    -moz-transform: scale(1.1) ;
}

.best-sellers__container-card-product-txt {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.best-sellers-product-name {
    color: black;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: var(--inter);
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.625rem;
}

.best-sellers-product-price {
    color: var(--color-black900);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: var(--inter);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.375rem;
}

/* Offer Section */

#offer {
    display: flex;
    height: 532px;
}

.offer-img {
    width: 50%;
    height: 100%;
}

.offer-img img {
    width: 100%;
    height: 100%;
}

.offer-content {
    display: flex;
    width: 50%;
    height: 100%;
    padding: 6.313rem 10rem 6.313rem 4.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;
    background: linear-gradient(0deg, rgba(255, 171, 0, 0.40) 0%, rgba(255, 171, 0, 0.40) 100%), #FFF;
}

.offer-content_header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.offer-content_header h3 {
    color: var(--color-blue);
    font-family: var(--inter);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1rem;
    text-transform: uppercase;
}

.offer-content_header h4 {
    color: var(--Black-900, #121212);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: var(--poopins);
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.75rem;
    letter-spacing: -0.4px;
}

.offer-content_header p {
    color: var(--Black-900, #121212);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: var(--inter);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
}

.offer-content_time {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.offer-content_time p {
    color: var(--neutral-07100, #141718);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: var(--inter);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem;
}

.offer-content_time-clock {
    display: flex;
    gap: 1rem;
}

.offer-content_time-clock_days, .offer-content_time-clock_hours, .offer-content_time-clock_minutes, .offer-content_time-clock_seconds {
    display: flex;
    flex-direction: column;
}

.offer-content_time-clock span {
    background-color: white;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: var(--poopins);
    font-size: 2.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.375rem;
    letter-spacing: -0.6px;
}

.time-days {
    padding: 0.688rem 0.563rem 0.688rem 0.625rem;
}

.time-hours {
    padding: 0.688rem 0.875rem 0.688rem 0.938rem;
}

.time-minutes {
    padding: 0.688rem 0.5rem;
}

.time-seconds {
    padding: 0.688rem 0.5rem 0.688rem 0.563rem;
}

.offer-content_time-clock p {
    color: var(--neutral-07100, #141718);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: var(--inter);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
}


.offer-content button {
    padding: 0.375rem 2.5rem;
    color: #FFF;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: var(--inter);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75rem;
    letter-spacing: -0.4px;
    background-color: black;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    transition: 0.8s;
    cursor: pointer;
}

.offer-content button:hover {
    transform: scale(1.1) ;
    -webkit-transform: scale(1.1) ;
    -moz-transform: scale(1.1) ;
}
